BasedOnStyle: LLVM
Language: Cpp

UseTab: Never
ColumnLimit: 120
IndentWidth: 2
AccessModifierOffset: -2
ContinuationIndentWidth: 2
SpacesBeforeTrailingComments: 2

ReferenceAlignment: Right
PointerAlignment: Right
SpaceAroundPointerQualifiers: After
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
AlignArrayOfStructures: Right
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Empty
StatementAttributeLikeMacros: [auto]
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: true

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"(llvm|llvm-c|llvm-dialects|clang|clang-c)/'
    Priority: 5
  - Regex: '^(<|"(gtest|gmock|isl|json)/)'
    Priority: 4
  - Regex: '<[[:alnum:].]+>'
    Priority: 3
  - Regex: '(?<!arrow).*/'
    Priority: 2
  - Regex: '.*'
    Priority: 1
